<script src="/bundle/script/login.js"></script>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="loginForm" name="userForm">
                <div class="mb-3">
                  <label for="loginEmail" class="form-label">Email</label>
                  <input id="loginEmail" name="email" type="email" class="form-control" maxlength="320">
                </div>
                <div class="mb-3">
                  <label for="loginPassword" class="form-label">Password</label>
                  <input id="loginPassword" name="password" type="password" class="form-control" maxlength="50">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-success btn-ghost" data-bs-dismiss="modal">Close</button>
          <button form="loginForm" type="submit" class="btn btn-outline-success btn-ghost">Login</button>
        </div>
      </div>
    </div>
</div>