{% extends "layout.html" %}

{% block content %}
<div class="card">
    <h5 class="card-header center-content">
        <span><img src="/bundle/content/image/Warning.gif"/></span>
        Under Construction!
        <span><img src="/bundle/content/image/Warning.gif"/></span>
    </h5>
    <div class="card-body center-content">
      <p class="card-title">
        Please be patient... <span><img src="/bundle/content/image/UpsideDownSmiley.png"/></span>
      </p>
    </div>
</div>
<footer>
  <img class="logo-footer navbar-brand" src="/bundle/content/image/favicon/favicon.ico" />
</footer>
{% endblock %}